body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

#szinezo-lista {
    margin: 20px 0;
}

.szinezo {
    background-color: #e7e7e7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.message {
    text-align: center;
    color: #2ecc71;
    margin-top: 10px;
}
